export(normIso)
export(deIso)
export(isoPLSDA)
export(isoPLSDAplot)
export(IsomirDataSeqFromFiles)
export(countsIso)
export(plotIso)
export(plotTop)
exportMethods(counts)
exportMethods("counts<-")
exportClasses(IsomirDataSeq)
importFrom(S4Vectors, Rle)
importFrom(S4Vectors, SimpleList)
importFrom(S4Vectors, DataFrame)
importFrom(GenomicRanges, SummarizedExperiment)
importFrom(GenomicRanges, colData)
importFrom(GenomicRanges, assays)
importFrom(GenomicRanges, assay)
import(dplyr)
import(DESeq2)
import(methods)
import(RColorBrewer)
import(gplots)
import(ggplot2)
import(GGally)
import(DiscriMiner)
