export(isoNorm)
export(isoDE)
export(isoPLSDA)
export(isoPLSDAplot)
export(IsomirDataSeqFromFiles)
export(isoCounts)
export(isoPlot)
export(isoPlotPosition)
export(isoTop)
exportMethods(isoSelect)
exportMethods(counts)
exportMethods("counts<-")
exportClasses(IsomirDataSeq)
import(BiocGenerics)
import(S4Vectors)
import(IRanges)
import(GenomicRanges)
import(SummarizedExperiment)
importFrom(dplyr, select)
importFrom(dplyr, summarise)
importFrom(dplyr, mutate)
importFrom(dplyr, filter)
importFrom(dplyr, group_by)
importFrom(dplyr, "%>%")
importFrom(plyr, join_all)
import(DESeq2)
import(methods)
import(RColorBrewer)
import(ggplot2)
import(GGally)
import(DiscriMiner)
importFrom(gplots, heatmap.2)
